.registration-form{
    width : 800px;
    Margin : 35px auto;
}

.h2{
    margin-bottom : 30px;
}
.your-details{
    margin-bottom : 20px;
}
.section{
    Margin : auto;
    text-align: center;
}
.gender-style{
    margin-left: 10px;
}
 .gender-section{
    margin-bottom: 20px;
 }
